[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "*"
gunicorn = "*"
pulumi = "*"
pulumi-docker = "*"
pulumi-gcp = "*"

[dev-packages]

[requires]
python_version = "3.9"
